<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njupt.epsm.mapper.LoopHoleCategoryMapper">
    <resultMap id="BaseResultMap" type="com.njupt.epsm.po.LoopHoleCategory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="descr" jdbcType="VARCHAR" property="descr"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <insert id="insert" parameterType="com.njupt.epsm.po.LoopHoleCategory">
        INSERT INTO loop_hole_category
        (id, category_name, descr, create_time, update_time)
        VALUES
        (#{id,jdbcType=BIGINT},#{categoryName,jdbcType=VARCHAR},#{descr,jdbcType=VARCHAR},
         #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM loop_hole_category
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="updateById" parameterType="com.njupt.epsm.po.LoopHoleCategory">
        UPDATE loop_hole_category
        <set>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="countByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM loop_hole_category
        WHERE category_name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM loop_hole_category
    </select>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM loop_hole_category
        WHERE id = #{id,jdbcType=BIGINT}
        LIMIT 1
    </select>
</mapper>